<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <br>
    <div class="container" id="edit-form">
        <div >
            <div ng-controller="IssuesCtrl" ng-cloak>
                <div class="alert alert-error" ng-show="listError">
                    <i class="icon-exclamation-sign"></i> 
                    Wystąpił błąd połączenia. Spróbuj <a ng-href="{{window.location.href}}">odświeżyć</a> stronę.
                </div>

                <div class="form form-horizontal well well-small">
                    <input ng-model="newIssue.title" type="text" class="span6" placeholder="Tytuł">
                    <i class="icon-time"></i>
                    <input ng-model="newIssue.hours" type="number" class="span1" placeholder="H"> : 
                    <input ng-model="newIssue.minutes" type="number" class="span1" placeholder="M"> : 
                    <input ng-model="newIssue.seconds" type="number" class="span1" placeholder="S">
                    <button ng-disabled="!newIssue.title" ng-click="addIssue()" type="button" class="btn"><i class="icon-plus"></i> Dodaj</button>
                </div>

                <h2>Najważniejsze zagadnienia ({{issues.length}}) <div class="btn btn-success" ng-disabled="!listReady" ng-click="saveIssues()"><i class="icon-pencil"></i> Zapisz zmiany</div></h2>
                <hr>
                <div class="well well-small form form-horizontal">
                    <div class="alert alert-info clearfix" ng-hide="issues.length">
                        <p>Dla tego materiału nie dodano jeszcze zagadnień.</p>
                        <div class="btn btn-block" ng-click="addIssue()"><i class="icon-plus"></i> Dodaj nowe</div>
                    </div>
                    <ul class="unstyled">
                        <li ng-repeat="issue in issues">
                            <input ng-model="issue.title" type="text" class="span6" placeholder="Tytuł">
                            <span> <i class="icon-time"></i></span>
                            <input ng-model="issue.hours" type="number" class="span1" placeholder="H"> :
                            <input ng-model="issue.minutes" type="number" class="span1" placeholder="M"> :
                            <input ng-model="issue.seconds" type="number" class="span1" placeholder="S">
                            
                            <button type="button" ng-click="removeIssue(issue)" class="btn btn-danger">&times;</button>
                            <br>
                            <br>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>





    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"> </script>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>


    <script src="js/main.js"></script>
</body>
</html>
